{% extends 'base.html' %}
{% block title %}{{article.title}} | Samrat Man Singh{% endblock %}
{% block main_section %}
<section class="main-section blog-section" id="blog-posts">
	<h3 class="date">{{article.locale_date}}</h3>
  <article>
	<hgroup>
	
	<h2><a href="{{SITEURL}}/{{article.url}}">{{article.title}}</a></h2>
	</hgroup>
	{{article.content}}

	<p>
	If you liked this post, you should <a href="http://twitter.com/samratmansingh">follow me on Twitter.</a>
	</p>
	{% include "twitter.html" %}
	<br/><br/>		
	<footer>

	{% if article.related_posts %}
	<h3>Related posts</h3>
        <ul>
        {% for related_post in article.related_posts[:3] %}
		<li><a href="{{related_post.url}}">{{ related_post.title }}</a></li>
        {% endfor %}
        </ul>
    {% endif %}


	{% if article.tags %}
	<h4>TAGS</h4>
	<ul class="tags">
	{% for tag in article.tags %}
	<li><a href="{{ SITEURL }}/tag/{{ tag }}.html" class="tag">{{tag}}</a></li>
	{% endfor %}
	</ul>
	{% endif %}

	<br/>

	 <a href="/" class="button_accent">&larr;&nbsp;&nbsp;&nbsp;back to blog</a>

	</footer>
	</article>
</section>


{% endblock %}
